<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RandoTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SuperMetroidRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RandoTest.Properties.Settings>
            <setting name="OutputFile" serializeAs="String">
                <value>Super Metroid Redux Rando.sfc</value>
            </setting>
            <setting name="RandomizerDifficulty" serializeAs="String">
                <value>Speedrunner</value>
            </setting>
            <setting name="CreateSpoilerLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalMissiles" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SuperMissiles" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PowerBombs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EnergyTanks" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HiddenItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomBlanks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value>Dedux Rando Compatible.sfc</value>
            </setting>
        </RandoTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
